<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:fragment="cssimport">
		<link rel="stylesheet" type="text/css" th:href="@{css/newpresentation.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{css/jquery-ui.css}"></link>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'></link>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
		<link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css"></link>

		<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{js/jquery-1.12.4.js}"></script>
		<script type="text/javascript" th:src="@{js/jquery-ui.js}"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<meta name="ctx" th:content="@{/}"></meta>
	</head>
</html>