body {
	margin: 0;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 10px;
	background-color: #f7f7f7 !important;
}

#topheaderbar {
	background-color: #;
	color: #FFFFFF;
}

#topheaderbar TD{
	font-size:14px;
}

#topheaderbar16 TD{
	font-size:16px;
}

td.templateSidebar {
	width: 17%;
}

td.slimDataFooterBold {
	font-weight: bold;
	padding: 0;
	vertical-align: top;
	font-size: 10px;
	color: #999999;
	text-indent: 5px;
    bottom:0;
}

TD.slimDataTitleBold16 {
	font-weight: bold;
	vertical-align: middle;
	height: 30px;
	font-family: Verdana;
	font-size: 16px;
	color: #006699;
	padding-top:10px;
	padding-bottom: 5px;
}

TD.slimDataBold {
	font-weight: bold;
	padding: 0;
	vertical-align: middle;
	font-size: 12px
}

TD.slimDataBoldBlack {
	font-weight: bold;
	padding: 0;
	vertical-align: middle;
	font-size: 12px;
	color:black;
}

input {
	font-weight: bold !important;
	font-size: 12px !important;
	color: black !important;
}

TD.slimData {
	padding: 0;
	vertical-align: middle;
	font-size: 12px;
}

TD.slimDataBold14 {
	font-weight: bold;
	padding: 0;
	vertical-align: middle;
	font-size: 14px
}

.slimData14 {
	vertical-align: middle;
	font-size: 14px
}

input.button,button {
	color: #ffffff;
	font-family: Arial, helvetica, sans-serif;
	font-size: 12px;
	background-color: #1b99d6;
	border: 1px solid;
	border-top-color: #696;
	border-left-color: #696;
	border-right-color: #363;
	border-bottom-color: #363;
	filter: progid : DXImageTransform.Microsoft.Gradient ( GradientType = 1,
		StartColorStr = '#ffffffff', EndColorStr = '#ffeeddaa' );
	border-radius: 2px;
	border-color: #1b99d6;
	cursor: pointer;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
}

input.button:hover{
   	background-color: #339900 !important;	
   	color: #ffffff;
   	}

button:hover{
   	background-color: #339900 !important;	
	color: #ffffff;
}

span.asteriskRed {
	color: red;
}

div.displayAsHide, input.displayAsHide{
	display: none;
}

.page.active {
    background: #1b99d6;
    color: #ffffff;
}

table.trHeight, tr {
	height: 30px;
}

.arrow.active {
    background: #1b99d6;
    color: #ffffff;
}

td.copyright {
	padding-top: 30px;
}

.paddingLeft50Px {
	padding-left: 50px;
}

.paddingLeft10px{
	pading-left: 10px;
}

.asteriskRed {
    color: red;
}

.width175{
	width:175px;
	height:22px;
}

.width170{
	width:170px;
	height: 20px;
}

#accountContainer {
	width:700px; 
	height: 300px; 
	display: none; 
	position: fixed;
	margin-top: 0px; 
	margin-left: 100px;
	background:#FFFFFF; 
	border: 1px solid #666;
	border: 1px solid #555;
	box-shadow: 2px 2px 40px #222; 
	z-index: 999999;
	padding:0px;
	text-indent: 0px;
}

#successAccountContainer {
	width:500px; 
	display: none; 
	position: fixed;
	margin-top: 0px; 
	margin-left: 100px;
	background:#FFFFFF; 
	border: 1px solid #666;
	border: 1px solid #555;
	box-shadow: 2px 2px 40px #222; 
	z-index: 999999;
	padding:0px;
	text-indent: 0px;
}

.modalRoundedDiv {
	border-radius:10px;
}

.modalCloseButtonSpan {
	font-weight : bolder;
	margin-right : 15px; 
	margin-top: 6px;
	color: #D3D1CC;
}

#block {
		background: #000; 
		opacity:0.6;  
		position: fixed; 
		width: 100%; 
		height: 100%; 
		top:0; 
		left:0; 
		display:none;
}

table.textIndent10{
	text-indent: 10px;
}

.paddingTop10 {
	padding-top: 10px;
}

.marginBottom {
	margin-bottom: 10px;
}

table.borderCollapse {
    border-collapse: collapse;
}

.borderCollapseCell {
    border: 1px solid black;
}

body.textColorBlue {
	color: #1b99d6 !important;
}

.textBlue {
	color: #0000ff;
}

.marginLeft10px{
	margin-left: 10px !important;
}